.background-full {
    background: #fff;
}
.for-table {
    background: #F5F5F5;
    tr th {
        color: #2A2A2A;
        border: 0;
    }
}
.dashboard-table {
    tr td {
        color: #2A2A2A;
        cursor: pointer;
        border-bottom: 1px solid #EBEBEB;
        border-top: 0px !important;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
.dashboard-table tr:hover {
    // border: 1px solid #2C665D;
    border-radius: 10px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
    transition: .3s ease-in-out;
}
.dashboard-table tr:hover td {
    border-bottom: 0;
}
.dash-btn .see-more {
    border: 1px solid #EBEBEB;
    width: 100%;
    padding: 1rem;
    background: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2C665D;
    cursor: pointer;
}
.dash-btn .see-more:hover {
    box-shadow: none;
}
.dash-btn .payout:hover {
    box-shadow: none;
}

.dash-btn input {
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    height: 42px;
    text-indent: 1rem;
    min-width: 300px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.dash-btn .payout {
    background: #3D8F83;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    height: 42px;
    cursor: pointer;
    border: 0;
    width: 100px;
}
.dash-btn .admin-date {
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    height: 42px;
    text-indent: 1rem;
    min-width: 180px;
    margin-left: 1rem;
    margin-right: 1rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.page-wrapper {
    background: #fff !important;
}

.calendar-svg {
    position: absolute;
    right: 25px;
    top: 14px;
}

.account-section {
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}
.account-section  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.account-section .bal {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2C665D;
    margin-bottom: 0;
}
.account-section .hold {
    color: #2A2A2A;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
}
.account-section .account-pay {
    margin-top: 2rem;
    border-top: 1px solid #EBEBEB;
    h1 {
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #2A2A2A;
    margin-bottom: 8px;
    }
    .hold {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #A6ABB2;
    }
}

.account-section .funds-hold {
    width: 100%;
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}
.account-section .account-hold {
    border-top: 1px solid #EBEBEB;
    padding: 1.71rem;
    margin-top: 1.6rem;
    max-width: 75%;
    h1 {
        color: #2A2A2A;
    }
}

.reference-overview {
    position: relative;
  }
  .for-analytics {
      position: relative;
        background: #F5F5F5;
      border-radius: 5px;
      padding: .5rem;
      cursor: pointer;
  }
  .reference-overview,
  .for-analytics:focus {
      outline: none;
  }
  .reference-overview div > p {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #2A2A2A;
    margin-bottom: 0;
    padding: 5px 9px;
  }
  .reference-overview .popout-analytics .currency-list {
    border-bottom: 1px solid #EBEBEB;
    cursor: pointer;
  }
  .reference-overview div > p {
    display: flex;
    align-items: center;
    border-bottom: 0;   
  }
  .popout-analytics {
    position: absolute;
    visibility: hidden;
    right: 0;
    background: #FFFFFF;
    color: white;
    min-width: 100px;
    border-radius: 5px;
    z-index: 1;
    width: 100%;
    border: 1px solid #EBEBEB;
    top: 3.5rem;

  }
  .reference-overview:hover > .popout-analytics,
  .reference-overview:focus > .popout-analytics,
  .reference-overview:focus-within > .popout-analytics {
    visibility: visible;
  }

  .remove-shadow {
      box-shadow: none !important;
  }

  .topbar {
      height: 0 !important;
  }

  .topbar .top-navbar {
      background: #Fff;
  }

  .topbar .top-navbar .navbar-header .navbar-brand {
    background:rgba(196, 196, 196, 0) !important;
    backdrop-filter: blur(20px);
    padding: 0;
    border: 1px solid rgba(196, 196, 196, 0) !important;
  }
  .custom-sidebar {
    background:rgba(196, 196, 196, 0.3) !important;
    box-shadow: none !important;
    backdrop-filter: blur(20px);
    .sidebar-nav {
        ul {
            .sidebar-item {
                .sidebar-link {
                    color: #A6ABB2;
                    padding: 20px 15px;
                    &:hover {
                        color: #2A2A2A;
                        background: #F5F5F5;
                        font-weight: bold;
                        transition: .3s ease-in-out;
                    }
                    &.active {
                        background: #fff;
                    }
                    i {
                        color: #A6ABB2;
                    }
                    &:hover i {
                        color: #2C665D;
                    }
                }
            }
        }
    }
  }

  .scroll-sidebar {
      border-top: 1px solid rgba(196, 196, 196, 0.2) !important;
  }

  .logo-style {
      height: 25px;
      margin-left: 1rem;
  }
  .pay-out {
      color: #2A2A2A;
  }
  .topbar .header-mobile {
      background: rgba(196, 196, 196, 0.3) !important;
  }
  .main-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #2A2A2A;
    margin: 1rem 1.5rem;
}


//   for mobile

@media only screen and (max-width: 991px) {
    .payout-mobile {
        flex-direction: column;
    }
    .calendar-mobile {
        flex-direction: column;
        width: 100%;
        .admin-date {
            margin: 1rem 0;
            min-width: 100%;
        }
    }
    .cal-none {
        display: none;
    }
    .dash-btn .payout {
        width: 100%;
    }
    .account-section {
        flex-wrap: wrap;
    }
    .mobile-input {
        margin-top: 1rem;
    }
    .topbar .top-navbar {
        background: rgba(196, 196, 196, 0.3) !important;;
    }

    .mobile-middle {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .topbar .top-navbar .navbar-header .navbar-brand {
        padding: 0 10px 0 10px;
        border: 0px !important;
    }
    .dash-btn input {
        min-width: 100%;
    }
}